.leftside {
    display: flex;
    flex: 0.27;
    flex-direction: column;
}

.leftside__profile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 310px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 5px;
    margin-left: 50px;
    color: gray;
}

.leftside__profile-status {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.leftside__profile-status img {
    width: 300px;
    height: 65.25px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leftside__profile-status__avatar {
    display: flex;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
}

#avatar__photo {
    display: flex;
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.leftside__profile-status__stats {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar__stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 30px;
}

.connections__numbers {
    color: #0a66c2;
}

.leftside__profile-status__myitems {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    text-align-last: left;
    margin-left: 20px;
    border-top: 2px solid whitesmoke;
}

.myitems__icon {
    padding-right: 5px;
}

.leftside__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    min-width: 310px;
    width: 310px;
    height: fit-content;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    color: gray;
}

.sidebar__elements {
    display: flex;
    flex-direction: column;
}

.leftside__content-recentItem {
    display: flex;
    margin: 5px 0;
    text-align: center;
    align-items: center;
}

.leftside__content-icon {
    margin-right: 10px;
}

.leftside__content-groupsItem {
    display: flex;
    margin: 5px 0;
    text-align: center;
    align-items: center;
}

#showmore__bottom {
    margin-left: 30px;
}

#event__bottom {
    display: flex !important;
    justify-content: space-between !important;
}
