.leftside {
    display: flex;
    flex: 0.27;
    flex-direction: column;
}

.leftside__profile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 310px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 5px;
    margin-left: 50px;
    color: gray;
}

.leftside__profile-status {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.leftside__profile-status img {
    width: 300px;
    height: 65.25px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leftside__profile-status__avatar {
    display: flex;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
}

#avatar__photo {
    display: flex;
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.leftside__profile-status__stats {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar__stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

.sidebar__stat > * {
    margin: 0px 30px;
}

.sidebar__stat:hover {
    background-color: rgb(240, 240, 240);
}

.connections__numbers {
    color: #0a66c2;
}

.leftside__profile-status__myitems {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    text-align-last: left;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid rgb(240, 240, 240);
    overflow: hidden;
}

.leftside__profile-status__myitems:hover {
    background-color: rgb(240, 240, 240);
}

.myitems__icon {
    padding-right: 5px;
}

.leftside__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    min-width: 310px;
    width: 310px;
    height: fit-content;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 30px;
    color: gray;
}

.sidebar__elements {
    display: flex;
    flex-direction: column;
}

.leftside__content-recentItem {
    display: flex;
    margin: 5px 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-left: 0;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.leftside__content-recentItem > * {
    margin-left: 10px;
}

.leftside__content-recentItem:hover {
    color: black;
    background-color: rgb(240, 240, 240);
}

.leftside__content-icon {
    margin-right: 10px;
}

.leftside__content-groupsItem {
    display: flex;
    margin: 5px 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.leftside__content-groupsItem > * {
    margin-left: 10px;
}

.leftside__content-groupsItem:hover {
    color: black;
    background-color: rgb(240, 240, 240);
}

#showmore__bottom {
    margin-left: 30px;
}

#event__bottom {
    display: flex !important;
    justify-content: space-between !important;
}

#event__bottom:hover {
    color: #0a66c2;
    text-decoration: underline;
    text-decoration-color: #0a66c2;
    background-color: #fff;
}
